@font-face {
  font-family: "Poppins";
  src: url("../../fonts/Poppins-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../../fonts/Poppins-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../../fonts/Poppins-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../../fonts/Poppins-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Google Sans";
  src: url("../../fonts/OpenSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Google Sans";
  src: url("../../fonts/OpenSans-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Google Sans";
  src: url("../../fonts/OpenSans-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Volkhov";
  src: url("../../fonts/Volkhov-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  font-family: "Google Sans", sans-serif;
  font-weight: 400;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

.promo {
  height: 100vh;
  background: url(../img/decore/ellipse_main.svg), url(../img/decore/decore_main.svg);
  background-position: 0px 0px, top right;
  background-size: auto, auto;
  background-repeat: no-repeat, no-repeat;
}
.promo .nav {
  padding-top: 47px;
}
.promo .nav__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.promo .nav__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
}
.promo .nav__menu a {
  text-decoration: none;
  color: #212832;
  font-family: "Google Sans";
  font-weight: 400;
  font-size: 17px;
  line-height: 22px;
}
.promo .nav__menu-item {
  padding: 9px 21px 9px 22px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.promo .nav__menu-item:nth-last-child(1) {
  padding-right: 0;
}
.promo .nav__menu-item select {
  border: none;
  background-color: #FFF1DA;
  font-family: "Google Sans";
  font-weight: 500;
  font-size: 17px;
  line-height: 22px;
}
.promo .nav__elem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.promo__wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 765px;
  margin-top: 18px;
  background: url(../img/traveller_main.png);
  background-position: top right;
  background-size: auto;
  background-repeat: no-repeat;
  z-index: 5;
}
.promo__text {
  margin-top: 112px;
}
.promo__text-subheader {
  font-family: "Poppins";
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  text-transform: uppercase;
  color: #DF6951;
}
.promo__text-descr {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  color: #5E6282;
  margin-top: 30px;
}
.promo__text-descr2 {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  color: #5E6282;
}
.promo__header {
  font-family: "Volkhov";
  font-style: normal;
  font-weight: 700;
  font-size: 83px;
  line-height: 89px;
  color: #181E4B;
  margin-top: 24px;
  letter-spacing: -0.04em;
}
.promo__img {
  position: relative;
}
.promo__image {
  z-index: 99;
  position: absolute;
  left: 0;
  top: 0;
}
.promo__image:hover {
  -webkit-animation: cloud 10s linear;
          animation: cloud 10s linear;
}
.promo__btns {
  margin-top: 34px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.promo__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  color: #FFFFFF;
  text-decoration: none;
  margin-right: 44px;
}
.promo__round {
  position: relative;
  margin-right: 21px;
}
.promo__round:before {
  content: "";
  position: absolute;
  top: -25%;
  left: 0;
  z-index: 1;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 7.5px 0 7.5px 15px;
  border-color: transparent transparent transparent #fff;
}
.promo__round::before {
  top: 50%;
  left: 40%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.promo__play {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 17px;
  line-height: 26px;
  color: #686D77;
  text-decoration: none;
}

@-webkit-keyframes cloud {
  0% {
    top: 0;
    left: 0;
  }
  100% {
    top: -100%;
    left: 100%;
  }
}

@keyframes cloud {
  0% {
    top: 0;
    left: 0;
  }
  100% {
    top: -100%;
    left: 100%;
  }
}
.btn {
  background-color: #F1A501;
  -webkit-box-shadow: 0px 20px 35px rgba(241, 165, 1, 0.15);
          box-shadow: 0px 20px 35px rgba(241, 165, 1, 0.15);
  border-radius: 10px;
  padding: 19px 26px;
}
.btn:hover {
  -webkit-box-shadow: 0px 20px 35px rgba(241, 165, 1, 0.15);
          box-shadow: 0px 20px 35px rgba(241, 165, 1, 0.15);
}

.btn__round {
  width: 60px;
  height: 60px;
  border-radius: 100%;
  background: #DF6951;
  -webkit-box-shadow: 0px 15px 30px rgba(223, 105, 81, 0.3);
          box-shadow: 0px 15px 30px rgba(223, 105, 81, 0.3);
}

.fz_18 {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  color: #5E6282;
}

.fz_50 {
  font-family: "Volkhov";
  font-weight: 700;
  font-size: 50px;
  line-height: 64px;
  text-transform: capitalize;
  color: #14183E;
}

.offer {
  padding-top: 105px;
  background: url(../img/decore/plus.svg);
  background-position: top 105px right 58px;
  background-size: auto;
  background-repeat: no-repeat;
  height: 60vh;
}
.offer__preheader {
  text-transform: uppercase;
  text-align: center;
}
.offer__header {
  text-align: center;
  margin-top: 10px;
}
.offer__wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-row: auto;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
  margin-top: 66px;
}
.offer__item {
  position: relative;
  z-index: 10;
  border-radius: 2.25rem;
  background-color: #fff;
  text-align: center;
  height: 347px;
  width: 25%;
}
.offer__item:hover .offer__item-angle {
  opacity: 1;
}
.offer__item-angle {
  -webkit-transition: opacity 600ms ease;
  transition: opacity 600ms ease;
  position: absolute;
  border-radius: 30px 0px 10px;
  background-color: #DF6951;
  width: 100px;
  height: 100px;
  z-index: -5;
  bottom: 30px;
  left: -30px;
  opacity: 0;
}
.offer__card {
  position: relative;
  padding: 0 40px 45px 40px;
  border-radius: 36px;
  width: 180px;
  -webkit-transition: -webkit-box-shadow 600ms ease;
  transition: -webkit-box-shadow 600ms ease;
  transition: box-shadow 600ms ease;
  transition: box-shadow 600ms ease, -webkit-box-shadow 600ms ease;
  background: #fff;
  z-index: 10;
}
.offer__card:hover {
  -webkit-box-shadow: 0 6px 15px -2px rgba(0, 0, 0, 0.19);
          box-shadow: 0 6px 15px -2px rgba(0, 0, 0, 0.19);
  border-radius: 36px;
  opacity: 1;
}
.offer__card-img {
  height: 5.625rem;
}
.offer__card-img img {
  max-width: 100%;
  height: 5.625rem;
}
.offer__card-head {
  font-family: "Google Sans";
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
  color: #1E1D4C;
  margin-top: 29px;
}
.offer__card-descr {
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: #5E6282;
  margin-top: 15px;
}

.destination {
  padding-top: 123px;
  height: 800px;
  background: url(../img/decore/dest_decore.svg);
  background-position: right 18% bottom 35%;
  background-size: auto;
  background-repeat: no-repeat;
}
.destination__preheader {
  text-align: center;
}
.destination__header {
  text-align: center;
  margin-top: 8px;
}
.destination__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  margin-top: 60px;
}
.destination__item {
  -webkit-transition: -webkit-box-shadow 600ms ease;
  transition: -webkit-box-shadow 600ms ease;
  transition: box-shadow 600ms ease;
  transition: box-shadow 600ms ease, -webkit-box-shadow 600ms ease;
  border-radius: 24px;
  -webkit-box-shadow: 0 6px 15px -2px rgba(0, 0, 0, 0.19);
          box-shadow: 0 6px 15px -2px rgba(0, 0, 0, 0.19);
}
.destination__item:hover {
  -webkit-box-shadow: 0 6px 15px -2px rgba(12, 12, 12, 0.19);
          box-shadow: 0 6px 15px -2px rgba(12, 12, 12, 0.19);
  border-radius: 24px;
}
.destination__img {
  position: relative;
  width: 100%;
  height: 100%;
}
.destination__img img {
  width: 315px;
  height: 457px;
  -o-object-fit: none;
     object-fit: none;
  -o-object-position: top;
     object-position: top;
  border-radius: 24px;
}
.destination__text {
  position: absolute;
  bottom: 0;
  background: #FFFFFF;
  border-bottom-right-radius: 24px;
  border-bottom-left-radius: 24px;
  height: 60px;
  width: 270px;
  padding: 27px 25px 42px 20px;
}
.destination__name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-weight: 500;
  font-size: 18px;
  line-height: 124.5%;
  color: #5E6282;
}
.destination__trip {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 19px;
  font-weight: 500;
  font-size: 16px;
  line-height: 124.5%;
  color: #5E6282;
}
.destination__trip-descr {
  margin-left: 14px;
}
.destination__trip-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.book {
  padding-top: 186px;
}
.book__wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  -webkit-column-gap: 118px;
     -moz-column-gap: 118px;
          column-gap: 118px;
}
.book__header {
  margin-top: 15px;
}
.book__elem {
  display: grid;
  grid-template-column: 1fr;
  grid-template-rows: repeat(3, auto);
  row-gap: 45px;
  margin: 30px 0 0 63px;
  padding-right: 118px;
}
.book__item-head {
  font-weight: 700;
  font-size: 16px;
  line-height: 124.5%;
  color: #5E6282;
}
.book__item-descr {
  font-weight: 400;
  font-size: 16px;
  line-height: 124.5%;
  color: #5E6282;
  margin-top: 4px;
}/*# sourceMappingURL=style.css.map */